@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 100% 98%;
    --foreground: 220 15% 15%;
    --border: 220 14% 80%;
    --destructive: 0 78% 65%;
    --destructive-foreground: 0 0% 100%;
    --accent: 260 80% 55%;
    --accent-foreground: 0 0% 100%;
    --muted: 220 20% 90%;
    --muted-foreground: 220 15% 50%;
  }

  .dark {
    --background: 220 20% 12%;
    --foreground: 0 0% 100%;
    --border: 220 20% 35%;
    --destructive: 0 80% 50%;
    --destructive-foreground: 0 0% 100%;
    --accent: 285 60% 65%;
    --accent-foreground: 0 0% 100%;
    --muted: 220 15% 18%;
    --muted-foreground: 220 15% 60%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply min-h-screen bg-background text-foreground;
  }
}